@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}
a {
    text-decoration: none;
    color: black;
    font-family: montserrat;
    font-weight: 400;
}

li {
    list-style: none;
}

header {
    height: 70vh;
    width: 100%;
}

svg {
    position: absolute;
    bottom: 0;
}

.navigation {
    height: 80px;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    line-height: 80px;
    margin-right: 100px;
}

.nav li:first-child {
    display: none;

}

.btn {
    border: none;
    background-color: #fff1;
    padding: 8px 20px;
}

.nav-btn {
    border: 1px double black;
}

.home-illus {
    height: 800px;
    width: 700px;
    float: right;
    margin: -70px 70px;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --p: 100%;
}

@media (max-width:1600px) {
    .nav {
        gap: calc(100vw/30)
    }


}